<div class="container">
    <div class="row">
        <section class="col-xs-10 col-xs-offset-1">
            <h2>受注概要</h2>
            <div class="col-xs-4">
                <h3>基本情報</h3>
            </div>
            <div class="col-xs-8">
                <p>
                    受注ID：<%= @order.id %>　　　
                    受注日時：<%= simple_time(@order.created_at) %>
                
                </p>
            </div>
        </section>
        <div class="col-xs-1"></div>

    </div>
</div>