<div class="container">
    <section class="row">
    	 <section class="col-xs-12">
    	 	<div class="alert alert-warning text-center" role="alert">
    	 		<h2>退会が完了しました</h2>
    	 		<p>今までご利用いただき、誠にありがとうございました。<br>
		 		DiscManiaは会員登録をしなくても音楽を探して楽しんでいただけます！<br>
		 		これからも是非、DiscManiaをご利用くださいませ</p>
    	 	</div>
		 </section>
 </section>
</div>






