<div class="container">
    <section class="row">
    	 <section class="col-xs-12">
			<div class="alert alert-danger text-center" role="alert">
				<h2>退会前に必ずお読みください</h2><br>
				<p >DiscMniaから退会すると、会員向けサービスが全てご利用いただけなくなります。</p><br>
				<p >登録情報、購入履歴が一度すべてが破棄されます。<br>
				<%= link_to "削除", user_path(current_user.id), class:"alert-link btn btn-danger", method: :delete, "data-confirm" => "本当に退会しますか？" %>
			</div>
		</section>
 </section>
</div>