<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-center">ご注文ありがとうございます！</h1><br>
            <p class="text-center">商品のご注文を承りました。</p>
            <p class="text-center">ご入金および発送に関しましては、追ってメールにてご案内いたします。</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-4 col-xs-offset-2">
            <h2 class="guide text-center"><b>引き続き商品を探す<b></h2>
                <div class="box">
                    <%= link_to "お買い物ページへ", records_path, class:"btn btn-success btn-lg", style: "width: 200px; margin-bottom: 20px;" %>
                </div>
        </div> 

        <div class="col-xs-4">
                <h2 class="guide text-center"><b>購入内容を確認する</b></h2>
                <div class="box">
                    <%= link_to "購入履歴へ", order_path(@order.id), class:"btn btn-success btn-lg", style: "width: 200px ;margin-bottom: 20px;" %>
                </div>
        </div>
        <div class="col-xs-2"></div>
    </div>
</div>