// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
	padding-bottom: 30px;
	border_bottom: 1px ;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.total {
	text-align: right;
	font-size: 30px;
	border: 2px solid;
	padding: 20px;
}

.caution {
   margin:2em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.hako{
	padding: 10px;
}
.hako1{
	padding :10px;
}
.hakoko {
	padding: 20px;
	float: left;
	width: 50%;
}

.aa{

}

.a {
	
}


.b {
	
	}