// Place all the styles related to the CartItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main{
	padding-bottom: 30px;
	border_bottom: 1px ;
}

.sav{
	padding: 30px;
	border-bottom: 1px solid;
    border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-image-slice: 1;
}

.total {
	text-align: right;
	font-size: 30px;
	padding: 20px;
	border-bottom: 3px solid;
    border-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    border-image-slice: 1;
}

.caution {
	margin:5em 0;
    position: relative;
    padding: 0.5em 1.5em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
}

.kane{
    margin: 0 auto;
	}

.hako{
	padding: 10px;
}
.hako1{
	padding :10px;
}
.hakoko {
	padding: 20px;
	float: left;
	width: 50%;
}