* {
	margin: 0px;
	padding: 0;
	box-sizing: border-box;
	font-family: verdana, arial, helvetica, sans-serif;
	color: #333;
}

.container {
    margin: 0 auto !important;
    padding: 100px 0 0 0 !important;
    max-width: 1100px !important;
}

.row{
    margin: 0 auto !important;
    max-width: 1000px !important;
}

.link {
    color: darkblue;
    font-weight: bold !important;
}

.link:hover {
    text-decoration: none;
    background: none !important;
}

#back{
    position: fixed;
    right: 50px;
    bottom: 50px;
}

h1 {
    font-weight: bold !important;
    margin-bottom: 30px !important;
    margin-top: 50px !important;
}

.container {
    margin-top: 50px;
}

/* ---------------------------- */
/* --- ハンバーガーメニュー --- */
/* ---------------------------- */
 
 
#hm-icon{
    position: fixed;
    right: 50px;
    top: 17px;
    z-index: 10;
  }
   
  .menu-trigger,
  .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
  }
   
  .menu-trigger {
    position: relative;
    width: 40px;
    height: 36px;
  }
   
  .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
   
  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
   
  .menu-trigger span:nth-of-type(2) {
    top: 16px;
  }
   
  .menu-trigger span:nth-of-type(3) {
    bottom: 0;
  }
   
  .menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(16px) rotate(-45deg);
    transform: translateY(16px) rotate(-45deg);
    background-color: #fff;
  }
   
  .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
  }
   
  .menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-16px) rotate(45deg);
    transform: translateY(-16px) rotate(45deg);
    background-color: #848484;
  }
   
   
  /* ------------------------ */
  /* ------ spメニュー ------ */
  /* ------------------------ */
   
   
  #sp-menu {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    width: 100%;
    min-height: 100%;
    display: none;
    z-index: 8;
  }

  #sp-menu h3 {
      margin-top: 150px;
      margin-bottom: 50px;
      font-weight: bold;
      color: #ff6347;
  }
   
  #sp-menu li{
    text-align: center;
    margin-bottom: 30px;
  }
   
  #sp-menu .hm-link                                                                                                                                                                                                                                                                                                                                                                                                                                            {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  .drawing-image {
    display: none;
    position: center;
 }

/* ローディング画面 */

/* ローディング関係ない部分のCSS */
  /* ローディングの背景部分のCSS */
  .loader{
    /* background:black; */
    background: url(discs.JPG) 0 0 / cover;
    height:100%;
    left:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:10;
  }
   
  /* ローディングのアニメーション部分のCSS (https://projects.lukehaas.me/css-loaders/) */
  .loader-animation,
  .loader-animation:before,
  .loader-animation:after {
    background:#ffffff;
    -webkit-animation:load1 1s infinite ease-in-out;
    animation:load1 1s infinite ease-in-out;
    width:1em;
    height:4em;
  }
  .loader-animation {
    height:10px;
    left:50%;
    margin:-5px 0 0 -5px;
    position:absolute;
    top:50%;
    width:10px;
    color:#ffffff;
    text-indent:-9999em;
    font-size:10px;
    -webkit-transform:translateZ(0);
    -ms-transform:translateZ(0);
    transform:translateZ(0);
    -webkit-animation-delay:-0.16s;
    animation-delay:-0.16s;
  }
  .loader-animation:before,
  .loader-animation:after {
    position:absolute;
    top:0;
    content:'';
  }
  .loader-animation:before {
    left:-1.5em;
    -webkit-animation-delay:-0.32s;
    animation-delay:-0.32s;
  }
  .loader-animation:after {
    left:1.5em;
  }
  @-webkit-keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow:0 0;
      height:4em;
    }
    40% {
      box-shadow:0 -2em;
      height:5em;
    }
  }
  @keyframes load1 {
    0%,
    80%,
    100% {
      box-shadow:0 0;
      height:4em;
    }
    40% {
      box-shadow:0 -2em;
      height:5em;
    }
  }


/* ヘッダー フッター　*/
.header{
    margin: 0 auto ;
    background-color: #000000 ;
    display: block;
    width: 100%;
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
    position: fixed;
    top:0;
    left:0;
    z-index:9;
}

.head-user-icon-div {
    float: right;
    margin-right: 120px;
    margin-top: 12px;
}

.head-form {
    float: left;
    margin-right: 5px;
}

.mainimg{
    margin-right: auto;
    float: left;
}

.kensaku {
    float: left;
    margin-left: 350px;
    margin-top: 18px;
}

.logo-img{
    border-radius: 10px ;
}

.head-user-icon {
    border-radius: 50%;
}

.breadcrumb-nav{
    margin-left: auto;
    font-size: 13px;
    background-color: #000000 !important;
    padding-top: 20px !important;
}

.user-icon{
    font-size: 25px;
}

.footer{
    margin: 50px 0 0;
    background-color: #000000 ;
}

.footer-box{
    padding: 10px;
}

.footer-main{
    margin: 0 0px;
    font-size: 20px;
    color: #BBBBBB;
}

.footer-text{
    font-size: 15px;
    margin: 0 0px;
    color: #BBBBBB;
}

/* Setting フォーム */

.set-form {
    height: 50px;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
}

.field {
    margin-top: 30px;
}

.set-form-title {
    font-size: 24px;
}

.set-submit {
    margin-top: 50px !important;
    height: 50px !important;
    font-weight: bold;
}

/* User showページ用 */

.user-show-hn {
    font-weight: bold;
    text-align: center;
    color: #666;
}

.user-show-im {
    margin-top: 30px !important;
}

.user-show-title {
    padding-left: 20px !important;
    padding-top: 11px !important;
}

.user-show {
    padding-left: 80px !important;
}

.user-show-el {
    margin-top: 50px !important;
}

.user-show-block {
    padding: 30px !important;
    border: 1px solid #666;
    border-radius: 5px;
    margin-top: 50px;
}

.container {
    margin: 0 auto;
}


/* artist フォーム */

.artist-table {
    line-height: 47px !important;
    margin-left: 30px !important;
}

.artist-search {
    padding: 0 !important;
}

.a-t-id {
    text-align: center;
}

.table-h {
    font-size: 18px;
}

.artist-ind-table {
    margin-top: 50px;
}

.artist-show-space {
    display: block;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    background: #fff8;
}

.artist-show-btn {
    width: 200px !important;
    margin-right: 50px !important;
    margin-top: 50px;
}

.artist-show {
    margin-top: 50px !important;
}


/* レコード */

.record-index-title {
    color: gray;
}

.records-info {
    background: white;
    border: 1.5px solid rgb(196, 192, 192);
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
}

.record-form-title {
    font-weight: bold;
}

.record-new-table {
    display: block;
    width: 90%;
    margin: 0 auto;
}

.disc-space {
    padding: 10px;
    margin: 15px auto 0;
}

.stock-f {
    margin: 0 0 5px 0 !important;
    margin: 0;
    height:20px;
    background: #ff6347;
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

.stock-f p {
    color: white;
    font-size: 14px;
    line-height: 20px;
}

.stock-t {
    margin: 0 0 5px 0;
    height:20px;
    line-height: 20px;
    background: #4169e1;
    border-radius: 5px;
    text-align: center;
    width: 80px;
}

.stock-t p {
    color: white;
    font-size: 12px !important;
    line-height: 20px !important;
}

.record-image {
    margin: 0 auto 5px !important;
}

.records-genre {
    padding-bottom: 30px;
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.records-genre:last-child {
    border-bottom: none;
}

.search-form-genre {
    margin: 15px auto;
}

.search-title {
    margin: 15px auto;
}

.search-forms {
    padding: 15px;
    border: 2px solid darkgray;
    border-radius: 15px;
    margin-bottom: 30px;
}

.man-form {
    padding: 0 !important;
}

.rec-table-pad {
    padding: 0 8px;
}

.table-pad {
    height: 75px;
}

.records-table {
    margin: 30px auto;
}

.search-btn-spc {
    margin-right: 40px;
}

.search-btns {
    margin-top: 8px;
}

.rec-ind-title {
    color: gray !important;
}

/* Order周り */

.or-rec-sq {
    border: 2px solid gray;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 30px !important;
}

.title-text {
    margin-top: 50px;
    margin-bottom: 50px;
}

.or-rec-title {
    margin-bottom: 30px !important;
}

.order-total-price {
    background: skyblue;
    border-radius: 10px;
    color: black;
    padding: 30px !important;
}

.order-cal p {
    font-size: 19px;
    line-height: 30px;
}

.order-result {
    margin-top: 30px;
}

.order-result b {
    font-size: 26px;
    line-height: 40px;
}

.order-decide {
    margin-top: 50px;
}


/* admin/orders */

.ad-od-t {
    line-height: 34px !important;
}

.ad-or-sh-tb {
    margin: 30px auto;
}

.ad-or-dir-tit {
    color: rgb(94, 94, 94) !important;
    font-weight: bold;
}

.ad-or-dir {
    margin-top: 30px;
    padding-bottom: 30px;
    border-bottom: solid 2px rgb(94, 94, 94);
}

.date-picker {
    width: 150px !important;
}

.ad-or-tb-sta {
    width: 600px;
    margin: 35px auto 0;
}

.ad-od-qu {
    padding:0 !important;
    line-height: 34px !important;
}

.datepicker {
    position: relative;
}

.input-group-append {
    position: absolute;
    top: 0;
    left: 200px;
    z-index: 8;
}

.fa-calendar {
    color: tomato !important;
    font-size: 34px !important;
}

.delete {
    margin-top: 30px !important;
}