// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  font-size:40px;
}

.id {
font-size:20px;
}

.maker {
  font-size:20px;
}

.price {
  font-size:30px;
}

.bottun--1 {
  margin: 0 23px 0 0 !important;
}

.text {
font-size: 17px;
}

.list-head {
  font-size:25px;
}

.list {
  font-size:18px;
}