<div class="container">
    <section class="row">
        <h2 class="text-center"><b>レコード情報編集フォーム</b></h2>
          
        <%= render 'form', path: admin_record_path(@record), method: :patch %>
    </section>
</div>