<div class="container">
    <section class="row">
        <% content_for(:title) do %>
            新規レコード登録フォーム
        <% end %>
          
        <%= render 'form', path: admin_records_path, method: :post %>
    </section>
</div>
