<div class="container">
    <section class="row">
    <h2 class="text-center"><b>レコード新規登録フォーム</b></h2>
          
        <%= render 'form', path: admin_records_path, method: :post %>
    </section>
</div>
